.show-post
  %h1= @post.title
  %span.category Категория: #{t("post.category.#{@post.category}")}
  %span.date-time Добавлено: #{@post.created_date}
  %span.author Автор: #{@post.user.name}

  .img-show
    = image_tag @post.image.url(:large), class: 'img-show' if @post.image?
    %p= to_html(@post.text)
  .actions
    = link_to 'Редактировать', edit_post_path(@post), class: 'btn btn-primary'
    = link_to 'Назад', posts_path, class: 'btn btn-outline-dark'
    .post-like
      - has_like = current_user&.like?(@post) ? 'active-like' : ''
      .btn-like{ class: has_like, data: { post: { id: @post.id } } }
        .heart
        %span.like-count
          = @post.likes.active_likes_count


.comments
  %h4 Комментарии
  %hr

  = simple_form_for @comment do |f|
    = f.input :post_id, label: false, input_html: { type: 'hidden', value: @post.id }
    = f.input :text, placeholder: 'Оставьте свой комментарий...',
    label: false, required: false, input_html: { rows: '5' }

    .actions
      = f.submit 'Комментировать', class: 'btn comment btn-success'

  - @post.comments.order_by_new.each do |comment|
    .panel.panel-primary
      .panel-heading
        = comment.user.name
        = comment.created_date
        - if current_user && (comment.user == current_user || current_user.admin?)
          = link_to comment, method: :delete, data: { confirm: 'Вы уверены?' },
          class: 'delete-comment' do
            %i.fa.fas.fa-times-circle
      .panel-footer
        = comment.text