.show-post
  %p#notice= notice
  %h1= @post.title
  %p= to_html(@post.text)

  .actions
    = link_to 'Редактировать', edit_post_path(@post), class: 'btn btn-primary'
    = link_to 'Назад', posts_path, class: 'back btn btn-default'
