%nav.navbar.navbar-expand-lg.navbar-dark.bg-light.fixed-top
  .container-fluid.col-10
    %a.navbar-brand{:href => "/"}
      = image_tag(asset_path('callisto.jpg'), class: 'd-inline-block align-top')
    %button.navbar-toggler{'aria-controls' => 'navbarToggleExternalContent',
    'aria-expanded' => 'false',
    'aria-label' =>    'Toggle navigation',
    'data-target' =>   '#navbarToggleExternalContent',
    'data-toggle' =>   'collapse', :type => 'button'}
      %span.navbar-toggler-icon
    #navbarToggleExternalContent.collapse.navbar-collapse
      #navbarSupportedContent.collapse.navbar-collapse
      %ul.nav.navbar-nav.col-11
        %li.view
          = link_to 'Кино', posts_path(category: 'movie')
        %li.sports
          = link_to 'Спорт', posts_path(category: 'sport')
        %li.politic
          = link_to 'Политика', posts_path(category: 'politic')
        %li.economic
          = link_to 'Экономика', posts_path(category: 'economic')
        %li.science
          = link_to 'Наука и техника', posts_path(category: 'science')
      %ul.navbar-nav.pull-xs-right
        - if user_signed_in?
          %li.nav-link.btn
            = link_to 'Выход', destroy_user_session_path, method: :delete,
              class: 'fa fas fa-sign-out-alt'
        - else
          %li.nav-link.btn
            = link_to 'Войти', new_user_session_path,
              class: 'fa fas fa-sign-in-alt'