%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ data: { target: '#navbar-news-blog', toggle: 'collapse' }, type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: '/' } CALLISTO
    #navbar-news-blog.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-center
        %li
          = active_link_to 'Новости', posts_path
        %li
          = link_to 'Кино', '#'
        %li
          = link_to 'Спорт', '#'
        %li
          = link_to 'Кино', '#'
        %li
          = link_to 'Политика', '#'
        %li
          = link_to 'Наука и техника', '#'
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?

            = link_to 'Выход', destroy_user_session_path, method: :delete
          - else
            = link_to 'Войти', new_user_session_path
