.row.justify-content-center
  .col-sm-3
    .shadow-sm.auth-form
      %h2.text-center Регистрация
      .text-center
        = image_tag(asset_path('callisto.jpg'), class: 'img-logo')
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.input :first_name, label: 'Имя', placeholder: 'Введите имя'
        = f.input :last_name, label: 'Фамилия', placeholder: 'Введите фамилию'
        = f.input :gender, collection: User::GENDERS.map { |g| [t("user.gender.#{g}"), g] },
                           label: 'Пол',
                           include_blank: 'Выберите пол'
        = f.input :email, autofocus: true, autocomplete: 'email', label: 'Email', placeholder: 'Введите email'
        = f.input :password, autocomplete: 'new-password',
                             label: "Введите пароль(<em>минимум #{@minimum_password_length} символов</em>)".html_safe,
                             placeholder: 'Введите пароль'
        = f.input :password_confirmation, autocomplete: 'new-password',
                                          label: 'Повторите пароль',
                                          placeholder: 'Повторите пароль'
        = f.input :remember_me, as: :boolean, label: 'Запомнить меня'
        .actions
          = f.submit 'Регистрация', class: 'btn auth-btn-primary'
      .form-actions
        = render 'users/shared/links'
